@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  background-color: hsl(0, 0%, 100%);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}
h1 {
  font-weight: 700;
  font-size: 40px;
  color: black;
}

li {
  padding: 0 15px;
}
.container {
  max-width: 1440px;
  margin: 30px auto;
}
.nav-container {
  margin: 0 auto;
  width: 80%;
  justify-content: space-around;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding-bottom: 40px;
}
.menu {
  list-style-type: none;
  margin: 0 30px;
  width: 100%;
  padding: 0;
}

.product-grid {
  max-width: 1100px;
  margin: 100px auto 0;
}
.product-images {
  text-align: center;
  padding-left: 60px;
}
.product-info {
  padding: 60px 80px 60px 120px;
}
.price {
  margin: 25px 0 10px 0;
}
.promo {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  width: 40px;
  height: 25px;
  margin: 0 15px;
  border-radius: 5px;
}
.og-price {
  text-decoration: line-through;
  margin: 0;
  font-weight: 700;
  opacity: 60%;
}
.cart-container {
  justify-content: flex-start;
}
.quantity-box {
  color: hsl(0, 0%, 0%);
  width: 140px;
  height: 50px;
  padding: 0;
  align-content: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}
.cart-add {
  background-color: hsl(26, 100%, 55%);
  width: 285px;
  height: 50px;
  justify-content: center;
  color: white;
  margin-left: 15px;
  border-radius: 10px;
}
.avatar {
  width: 50px;
}
.cart {
  height: 20px;
  margin-right: 50px;
}
.cart-2 {
  height: 15px;
  color: white;
  margin-right: 10px;
}
.main-photo {
  height: 400px;
  border-radius: 10px;
}
.preview {
  width: 400px;
  margin: 20px auto;
  justify-content: space-between;
}
.preview-img {
  width: 80px;
  border-radius: 10px;
}
.active {
  opacity: 50%;
}
.border {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 10px;
}
.flex {
  display: flex;
  align-items: center;
}
.orange {
  color: hsl(26, 100%, 55%);
}
.black {
  color: hsl(0, 0%, 0%);
}
.margin-0-auto {
  margin: 0 auto;
}
.margin-0 {
  margin: 0;
}
.margin-30-0 {
  margin: 30px 0;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
