
.container {
  display: flex;
  justify-content: center;
}
.tab-menu {
  flex-direction: column;
}
.date {
  font-size: 25px;
  font-weight: 500;
}
.cards {
  display: flex;
  flex-direction: column;
  
  margin: 10px;
}
.search-box {
  margin: 20px auto;
}
.input-box {
  width: 450px;
}
.btn {
  margin: 10px auto;
  width: 115px;
  font-size: 15px;
}
.main-info {
  justify-content: space-between;
}
.main-temp {
  font-size: 45px;
  font-weight: 700;
}
.icon {
  width: 150px;
  margin: auto;
}
.details-grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  }
.details-item {
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}  
.details-img {
  width: 60px;
}  
.flex {
  display: flex;
}
.margin-0 {
  margin: 0;
}