@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
  font-family: 'Kanit', sans-serif;
  background-color: #cff5e7;
}
h2 {
  margin: 15px auto 0;
}
.p-tabmenu {
  font-family: 'Kanit', sans-serif;
  margin: 10px;
  border-radius: 10px;
}
.p-tabmenu-nav {
  background-color: #cff5e7;
}
.p-button {
  background-color: #301e67;
}
.p-card {
  font-family: 'Kanit', sans-serif;
  color: black;
}
.side-bar {
  margin: 20px;
}
.tab-menu {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.date {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.cards {
  display: flex;
  flex-direction: column;
}
.search-box {
  margin: 20px auto;
}
.input-box {
  width: 450px;
}
.btn {
  margin: 10px auto;
  width: 115px;
  font-size: 15px;
}
.main-info {
  justify-content: space-between;
}
.main-temp {
  font-size: 45px;
  font-weight: 700;
}
.icon {
  width: 150px;
  margin: auto;
}
.details {
  justify-content: space-around;
}
.cards-1 {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 110px;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
.details-img {
  width: 60px;
}
.details-img-1 {
  margin-top: 25px;
  width: 100px;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.white {
  color: white;
}
.margin-0 {
  margin: 0;
}
.margin-10 {
  margin: 10px;
}
.padding-10 {
  padding: 10px;
  width: 500px;
}
.br-10 {
  border-radius: 10px;
}
.bg-sec {
  background-color: #301e67;
}
.bg-third {
  background-color: #59c1bd;
}

@media only screen and (max-width: 700px) {
  .flex {
    
    flex-direction: column;
  }
  
}