p {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  display: flex;
  margin: auto;
}
.search-box {
  margin: auto;
}
.btn {
  margin: 10px auto;
  font-size: 10px;
}
.icon {
  width: 100px;
}
.flex {
  display: flex;
}